

.text-layout {
  font-family: 'San Francisco', sans-serif;
}


.input-layout {
  width: 16rem;
  border: 1px solid rgb(190, 32, 32);
  padding: 4px;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 10px;
  background-color: white;
}

.layout-rol {
  height: 50%;
}

.layout-color {
  background-color: rgb(160, 14, 14);
}

.icons-calificacion{
  background-image: url("../src/assets/calificacion.png");
  background-repeat: no-repeat;
  height: 5rem;
}
